<!-- row-of-blocks/ -->
<div class="row">
  <!-- ui-gadget -->
  <div class="half-unit">
    <div class="dtitle">best route</div>
    <hr>
    <div class="centered-unit">
      <p><img src="assets/img/geo_get_route-128.png" alt="start navigation" style="position:relative; height: 45px; width: 45px;"><br><b>#1</b> | WORK_HOME_L2_EPIA</p>
      <p><img src="assets/img/up-small.png" alt=""> 30 Min. | <img src="assets/img/down-small.png" alt=""> 42 Min.</p>
    </div>
  </div><!-- /ui-gadget -->
</div><!-- /row-of-blocks -->
